<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary"></ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title> Profile </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          size="small"
          slot="icon-only"
          name="qr-code-outline"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          size="small"
          slot="icon-only"
          name="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <app-rectangle></app-rectangle>
  <ion-item lines="none" color="secondary">
    <ion-avatar slot="start">
      <img src="assets/images/profile.png" />
    </ion-avatar>
    <ion-text class="ion-margin-start">
      <ion-label class="text1">Jacob Jones</ion-label>
      <ion-label class="text3"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</ion-label
      >
    </ion-text>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none" class="ion-margin-bottom">
        <ion-icon slot="start" color="primary" name="moon-outline"></ion-icon>
        <ion-label class="text4">Dark mode</ion-label>
        <ion-toggle mode="ios" slot="end"></ion-toggle>
      </ion-item>

      <div class="line"></div>

      <ion-item
        *ngFor="let option of options"
        lines="none"
        [detail]="option.detail"
        button
      >
        <ion-icon slot="start" color="primary" [name]="option.icon"></ion-icon>
        <ion-text>
          <ion-label class="text4">{{ option.title }}</ion-label>
          <ion-label class="text4" color="medium"
            >{{ option.subtitle }}</ion-label
          >
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
