<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary"></ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title> Profile </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          size="small"
          slot="icon-only"
          name="qr-code-outline"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          size="small"
          slot="icon-only"
          name="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <app-rectangle></app-rectangle>
</ion-content>
