<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary"></ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title> Groups </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="small" slot="icon-only" name="moon-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          size="small"
          slot="icon-only"
          name="search-outline"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          size="small"
          slot="icon-only"
          name="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <app-rectangle></app-rectangle>

  <ion-list>
    <app-item-group
      *ngFor="let group of groups"
      [group]="group"
    ></app-item-group>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
