<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary"></ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title> Groups </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="small" slot="icon-only" name="moon-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          size="small"
          slot="icon-only"
          name="search-outline"
        ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon
          size="small"
          slot="icon-only"
          name="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <app-rectangle></app-rectangle>

  <ion-list>
    <ion-item *ngFor="let group of groups" lines="none" detail button>
      <ion-avatar [ngClass]="{'border': group.live}">
        <ion-img [src]="group.img"></ion-img>
        <ion-chip *ngIf="group.live" class="statusLive" mode="ios">
          <ion-label>LIVE</ion-label>
        </ion-chip>
      </ion-avatar>
      <ion-text class="ion-margin-start">
        <ion-label class="text1">{{ group.title|titlecase }}</ion-label>
        <ion-label class="text3" color="medium"
          >{{ group.lastMessage }}</ion-label
        >
        <ion-label class="text3" color="medium"
          >{{ group.participants }} participants</ion-label
        >
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
